body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
  /* height: 100%;
  width: 100%; */
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container-resizer {
  display: flex;
  border: 1px solid #f5600a;
  height: 100%;
  width: 100%;
  align-self: stretch;
  /* Высота под вопросом */
  height: 100vh;
}

.resizer {
  border-left: 1px solid rgba(110, 110, 110, 0.5);
  border-right: 1px solid rgba(110, 110, 110, 0.5);
  width: 4px;
  height: 100%;
  margin-left: -2px;
  top: 0;
  left: 16px;
  cursor: col-resize;
  margin-left: 8px;
}

.horizontal-resizer {
  width: 20px;
  /* background-color: #cccccc; */
  cursor: col-resize;
}
.swipe {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  border: 1px solid rgba(110, 110, 110, 0.5);
  border-radius: 2px;
  background-color: #fff;
}

.swipe-icon-vertical {
  font-family: "CalciteWebCoreIcons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.swipe-icon-vertical:before {
  content: "";
  color: inherit;
}
.container-left {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 25%;
}
.container-right {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 25%;
}
