body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
  /* height: 100%;
  width: 100%; */
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container-resizer {
  display: flex;
  border: 1px solid #f5600a;
  height: 100%;
  width: 100%;
  align-self: stretch;
  /* Высота под вопросом */
  height: 100vh;
}

.resizer1 {
  background-color: #6b6b6b;
  /* cursor: ew-resize; */
  cursor: col-resize;

  /* height: 100%; */
  width: 15px;

  /* position: absolute; */

  color: #a9a9a9;
}
.resizer {
  border-left: 1px solid rgba(110, 110, 110, 0.5);
  border-right: 1px solid rgba(110, 110, 110, 0.5);
  width: 4px;
  height: 100%;
  margin-left: -2px;
  top: 0;
  left: 16px;
  cursor: col-resize;
  margin-left: -5px;
}

.resizer:before {
  /* position: absolute;
  /* vertical-align: middle; */
  /* top: 100px;
  right: 50px; */

  position: absolute;
  display: block;
  top: 50%;
  /* left: 50%;
  right: 50%; */
  bottom: 50%;
  margin: -7px;
  /* left: 50%;  */
  /* display: inline-block; */
  /* justify-content: center;
  right: 10px;
  width: 18px;
  
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;  */
  font-family: "calcite-ui";
  content: "\f12a";
  color: #6b6b6b;
}
.container-left {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 25%;
}
.container-right {
  /* flex: 1; */
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 25%;
}
